OLLAMA_MODEL=Enter your model name
OLLAMA_URL=http://localhost:11434
GEMINI_API_KEY=Enter your api key here 
USE_GEMINI=1
NOMADAI_USE_LLM=1

# Foursquare Places API (optional - for enhanced place data and photos)
# Get your API key from: https://developer.foursquare.com/
# Paste your Foursquare Places API KEY (v3) here:
FOURSQUARE_API_KEY=enter your four squeare api key here 
